body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #212529;
    padding: 14px;
    border-width: 1px;
    border-style: solid;
    border-color: #CED4DA;
    border-radius: 4px;
    margin-right: 8px;
}

.botao {
    font-size: 16px;
    padding: 14px;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    border-radius: 4px;
    background-color: #0D6EFD;
    border: 1px solid #0D6EFD;
    border-radius: 4px;
    min-width: 150px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    font-size: 48px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: #212529;
    margin-bottom: 0;
}

.form {
    margin-top: 48px;
    margin-bottom: 48px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-family: Arial, sans-serif;
    color: #212529;
}

.table tr td,
.table tr th {
    padding: 16px;
}

.table thead tr,
.table tbody tr {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.table thead tr {
    border-bottom-color: #212529;
}

.table tbody tr {
    border-bottom-color: #CED4DA;
}
